<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VGI Dashboard</title>
    <link rel="stylesheet" href="/css/index.css">
    <script src="/js/index.js" defer></script>
</head>
<body>

<header>
    <img src="/images/vgi_logo.png" alt="VGI Logo">
    <nav>
        <a href="/index">Home</a>
        <a href="#">Kontakt</a>

        <div class="user-menu">
            <img src="/images/profile.jpg" alt="Profilbild" id="user-icon">
            <div class="dropdown" id="dropdown-menu">
                <a href="profil.html">Profil anzeigen</a>
                <a href="einstellungen.html">Einstellungen</a>
                <a href="anfragen.html">Meine Anfragen</a>
                <a href="nachrichten.html">Nachrichten</a>
                <a href="passwort.html">Passwort ändern</a>
                <a href="/logout">Abmelden</a>
            </div>
        </div>
    </nav>
</header>

<div class="banner">
    <img src="/images/Frame.jpeg" alt="Banner Image">
</div>

<div class="grid-container">
    <div class="grid" id="main-menu-container">

            <img class="loading_img" src="/images/loading.gif" alt="loading">




    </div>
</div>

</body>
</html>
